$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl {
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

@import "colors";

.chart-area-dow-30k {
  @import "type";
  @import "highcharts";

  box-sizing: border-box;

  background-size: 100px;
  background-repeat: no-repeat;
  background-image:
    url(https://fm-static.cnbc.com/awsmedia/chart/2019/6/10/grow_leaves.1562793463706.png);
  background-position: bottom right;
  max-width: 660px;
  margin-bottom: 25px;
  font-family: $font-stack;

  & a {
    border-bottom: 1px solid $green-primary;
    color: $green-primary;
    text-decoration: none;
  }

  & .chart-title-social, & .grow-logo-social {
    display: none;
  }

  & .chart-container {
    width: 100%;
    height: 300px;
    margin-top: -10px;
    @include x-small {
      margin-bottom: 30px;
    }
  }

  & .grow-logo {
    width: 214px;
    margin-top: 20px;
  }

  & #chart-container-dow-30k-1 {
    .highcharts-color-0 {
      fill: $green-primary;
      stroke: $green-primary;
    }
  }

  & #chart-container-dow-30k-2 {
    height: 400px;
    .highcharts-yaxis-labels {
      & span:last-child {
        transform: translate(10px,0) !important;
        &:after {
          content: "%";
      }
      }
    }
    .highcharts-color-0 {
      fill: $slate-secondary-3;
      stroke: $slate-secondary-3;
    }
    
    .highcharts-color-1 {
      fill: $green-secondary-6;
      stroke: $green-secondary-6;
    }
    
    .highcharts-color-2 {
      fill: $green-secondary-5;
      stroke: $green-secondary-5;
    }
    
    .highcharts-color-3 {
      fill: $green-secondary-4;
      stroke: $green-secondary-4;
    }
    
    .highcharts-color-4 {
      fill: $green-secondary-3;
      stroke: $green-secondary-3;
    }
    
    .highcharts-color-5 {
      fill: $green-secondary-2;
      stroke: $green-secondary-2;
    }
  }

  & #chart-container-dow-30k-3 {
    .highcharts-yaxis-labels {
      & span:last-child {
        transform: translate(10px,0) !important;
        &:after {
          content: "%";
      }
      }
    }

    .highcharts-axis-line {
      stroke: none;
    }

    .highcharts-grid-line {
      &:nth-child(3) {
        stroke: black;
      }
    }
    
    .highcharts-color-2 {
      fill: $slate-secondary-4;
      stroke: $slate-secondary-4;
    }
    
  }
  

& #chart-container-dow-30k-4 {
  height: 250px;
  .highcharts-color-0 {
    fill: $slate-secondary-3;
    stroke: $slate-secondary-3;
    &:nth-child(4) {
      fill: $green-primary;
    stroke: $green-primary;
    }
  }

  .highcharts-yaxis-labels {
    & span:first-child {
      &:after {
        content: "%";
    }
    }
  }
}
}

// @import "social";